In [81]:
import pandas as pd
import re

In [82]:
# Read the excel file
filepath = 'data/housing_market_Q1/processed/'
input_file_name = 'mw2303-march-city-toronto.xlsx'
df_original = pd.read_excel('{0}{1}'.format(filepath, input_file_name), sheet_name=None)

In [83]:
df = df_original.copy()

In [84]:
# Get the sheet names
sheet_names = df.keys()
for elements in sheet_names:
    print(elements)

all_home_type
detached
semi_detached
townhouse
condo_townhouse
condo_apartment
link
coop_apartment
detached_condo
co_ownership_apartment
index_and_benchmark_price

In [85]:
for elements in sheet_names:
    print('df_{}'.format(elements))

df_all_home_type
df_detached
df_semi_detached
df_townhouse
df_condo_townhouse
df_condo_apartment
df_link
df_coop_apartment
df_detached_condo
df_co_ownership_apartment
df_index_and_benchmark_price

In [86]:
df_all_home_type = df.get('all_home_type')
df_detached = df.get('detached')
df_semi_detached = df.get('semi_detached')
df_townhouse = df.get('townhouse')
df_condo_townhouse = df.get('condo_townhouse')
df_condo_apartment = df.get('condo_apartment')
df_link = df.get('link')
df_coop_apartment = df.get('coop_apartment')
df_detached_condo = df.get('detached_condo')
df_co_ownership_apartment = df.get('co_ownership_apartment')
df_index_and_benchmark_price = df.get('index_and_benchmark_price')

In [87]:
df_semi_detached.head()

,Toronto Regional Real Estate Board,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,SUMMARY OF EXISTING HOME TRANSACTIONS,NaN,NaN,NaN,NaN,NaN,"Semi-Detached, March 2023",NaN,NaN,NaN
1,NaN,Sales,Dollar Volume,Average Price,Median Price,New Listings,Abc Abc Active Listings,Avg. SP/LP,Avg. LDOM,NaN
2,All TRREB Areas,556,"$604,885,564","$1,087,924","$1,040,000",772,470\nAbc,105%,13,NaN
3,City of Toronto,202,"$255,050,976","$1,262,629","$1,166,111",302,215\nAbc,106%,16,NaN
4,Toronto West,77,"$86,189,566","$1,119,345","$1,040,000",116,90\nAbc,102%,21,NaN

In [88]:
# Rename the ;Unnamed: 0' column to 'Area'
df_detached.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)
df_semi_detached.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)
df_townhouse.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)
df_condo_townhouse.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)
df_condo_apartment.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)
df_link.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)
df_coop_apartment.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)
df_detached_condo.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)
df_co_ownership_apartment.rename(columns={'Unnamed: 0': 'Area', 'Abc Abc Active Listings':'Active Listings'}, inplace=True)

In [89]:
df_semi_detached.head()

,Toronto Regional Real Estate Board,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,SUMMARY OF EXISTING HOME TRANSACTIONS,NaN,NaN,NaN,NaN,NaN,"Semi-Detached, March 2023",NaN,NaN,NaN
1,NaN,Sales,Dollar Volume,Average Price,Median Price,New Listings,Abc Abc Active Listings,Avg. SP/LP,Avg. LDOM,NaN
2,All TRREB Areas,556,"$604,885,564","$1,087,924","$1,040,000",772,470\nAbc,105%,13,NaN
3,City of Toronto,202,"$255,050,976","$1,262,629","$1,166,111",302,215\nAbc,106%,16,NaN
4,Toronto West,77,"$86,189,566","$1,119,345","$1,040,000",116,90\nAbc,102%,21,NaN

In [90]:
#convert this into a dataframe df_all_home_type
data_frames = [df_detached,
               df_semi_detached,
               df_townhouse,
               df_condo_townhouse,
               df_condo_apartment,
               df_link,
               df_coop_apartment,
               df_detached_condo,
               df_co_ownership_apartment
               ]

In [91]:
def extract_number_from_string(column):
    for i in range(len(column)):
        column[i] = re.findall(r'\d+', column[i])
        column[i] = column[i][0]

for elements in data_frames:
    column = elements['Active Listings']
    extract_number_from_string(column)

KeyError: 'Active Listings'

In [ ]:
for elements in data_frames:
    elements.dropna(inplace=True)

In [ ]:
df_semi_detached.head()

,Area,Sales,Dollar Volume,Average Price,Median Price,New Listings,Active Listings,Avg. SP/LP,Avg. LDOM
0,All TRREB Areas,399,"$426,637,137","$1,069,266","$980,000",587,445,102%,15.0
1,City of Toronto,144,"$184,374,714","$1,280,380","$1,133,000",222,198,102%,19.0
2,Toronto West,45,"$48,584,518","$1,079,656","$975,000",81,81,101%,19.0
3,Toronto W01,3,"$4,435,000","$1,478,333","$1,475,000",8,10,108%,6.0
4,Toronto W02,10,"$13,210,218","$1,321,022","$1,290,010",24,20,104%,19.0

In [ ]:
with pd.ExcelWriter('data/housing_market_Q1/final/{0}'.format(input_file_name)) as writer:
    df_all_home_type.to_excel(writer, sheet_name='all_home_type')
    df_detached.to_excel(writer, sheet_name='detached')
    df_semi_detached.to_excel(writer, sheet_name='semi_detached')
    df_townhouse.to_excel(writer, sheet_name='townhouse')
    df_condo_townhouse.to_excel(writer, sheet_name='condo_townhouse')
    df_condo_apartment.to_excel(writer, sheet_name='condo_apartment')
    df_link.to_excel(writer, sheet_name='link')
    df_coop_apartment.to_excel(writer, sheet_name='coop_apartment')
    df_detached_condo.to_excel(writer, sheet_name='detached_condo')
    df_co_ownership_apartment.to_excel(writer, sheet_name='co_ownership_apartment')
    df_index_and_benchmark_price.to_excel(writer, sheet_name='index_and_benchmark_price')